<div class="card bg-dark text-white rounded-0" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Add a task</h2>
    <form action="/tasks/add" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" placeholder="Title" class="form-control bg-dark text-white">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" placeholder="Description" class="form-control bg-dark text-white"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Add task</button>
    </form>
  </div>
</div>