<form action="/edit/{{task._id}}" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="title" value="{{task.title}}">
  <div>
  <textarea type="text" name="description" placeholder="Add a description">{{task.description}}</textarea>

  </div>
  <button>Update</button>
</form>